$main-background: #E8E8E8;
$dark-background: #181D22;
$colors: (
	primary: #1F83D5,
	dark: #0D1011
);
$text-colors: (
	primary: #212121,
	secondary: 757575
);

$shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.2);

*{
	font-family: arial;
	color: map-get($text-colors, "primary");
}

html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Form style */
form{
	.input-container{
		margin: 16px 0;
		padding: 0 6px;

		> input{
			width: calc(100% - 20px);
		}

		&.input-floated{
			position: relative;

			> label{
				transition: transform ease-out .1s;
				position: absolute;
				bottom: 6px;
				left: 16px;
			}

			&.floated{
				> label{
					transform: translateY(-22px) scale(0.85);
				}
			}
		}
	}
}

.hidden{
	display: none !important;
}

.main-dark{
	background: $dark-background;
}

.main{
	background: $main-background;
}

/* Flexed classes */
.flexed{
	display: flex;

	&.flexed-column{
		flex-direction: column;
	}

	&.flexed-reversed{
		flex-direction: row-reverse;
	}

	> .flexed-grow{
		flex: 1;
	}

	> .center{
		margin: auto;
	}

	> .center-column{
		margin: auto 0;
	}

	> .center-row{
		margin: 0 auto;
	}

	&.flexed-wrap{
		flex-wrap: wrap;
		align-content: flex-start;
	}
}

/* Card Classes */

.card{
	min-height: 280px;
	width: 280px;
	background: #FFF;
	box-shadow: $shadow;
	margin: 12px;
	transition: box-shadow ease-in .3s;
	
	&.card-thin{
		height: 400px;
		width: 350px;
	}

	&.card-hover:hover{
		box-shadow: 0 1px 10px 6px rgba(0,0,0,.3);
	}

	> .card-image{
		img{
			display: block;
		}
	}

	> .card-content{
		padding: 0 4px;

		> .card-body{
			margin: 10px 0;
		}
	}

	.card-title{
		overflow: auto;
		padding: 0 12px;

		h3{
			margin: 12px 0;
		}
	}

	.card-actions{
		margin-top: 10px;
		height: 40px;
	}
}

/* Button Classes */

.btn{
	border: none;
	height: 24px;
	width: 82px;
	margin: 4px;
	color: #FFF;
	
	&.primary{
		background: map-get($colors, "primary");
	}

	&.dark{
		background: map-get($colors, "dark");
	}
}

.toolbar{
	height: 60px;
	width: 100%;
	padding: 0 12px;
	background: $dark-background;
	box-sizing: border-box;
	box-shadow: $shadow;
}