* {
  font-family: arial;
  color: #212121;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Form style */
form .input-container {
  margin: 16px 0;
  padding: 0 6px;
}

form .input-container > input {
  width: calc(100% - 20px);
}

form .input-container.input-floated {
  position: relative;
}

form .input-container.input-floated > label {
  transition: transform ease-out .1s;
  position: absolute;
  bottom: 6px;
  left: 16px;
}

form .input-container.input-floated.floated > label {
  transform: translateY(-22px) scale(0.85);
}

.main-dark {
  background: #181D22;
}

.main {
  background: #E8E8E8;
}

/* Flexed classes */
.flexed {
  display: flex;
}

.flexed.flexed-column {
  flex-direction: column;
}

.flexed.flexed-reversed {
  flex-direction: row-reverse;
}

.flexed > .flexed-grow {
  flex: 1;
}

.flexed > .center {
  margin: auto;
}

.flexed > .center-column {
  margin: auto 0;
}

.flexed > .center-row {
  margin: 0 auto;
}

.flexed.flexed-wrap {
  flex-wrap: wrap;
  align-content: flex-start;
}

/* Card Classes */
.card {
  min-height: 280px;
  width: 280px;
  background: #FFF;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  margin: 12px;
  transition: box-shadow ease-in .3s;
}

.card.card-thin {
  height: 400px;
  width: 350px;
}

.card.card-hover:hover {
  box-shadow: 0 1px 10px 6px rgba(0, 0, 0, 0.3);
}

.card > .card-image img {
  display: block;
}

.card > .card-content {
  padding: 0 4px;
}

.card > .card-content > .card-body {
  margin: 10px 0;
}

.card .card-title {
  overflow: auto;
  padding: 0 12px;
}

.card .card-title h3 {
  margin: 12px 0;
}

.card .card-actions {
  margin-top: 10px;
  height: 40px;
}

/* Button Classes */
.btn {
  border: none;
  height: 24px;
  width: 82px;
  margin: 4px;
  color: #FFF;
}

.btn.primary {
  background: #1F83D5;
}

.btn.dark {
  background: #0D1011;
}

.toolbar {
  height: 60px;
  width: 100%;
  padding: 0 12px;
  background: #181D22;
  box-sizing: border-box;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
